ZhuoHuaAPP/Web References/localhost/SimpDbServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpDbServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISimpDbServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13124/SimpDbServer?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13124/SimpDbServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13124/SimpDbServer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:13124/SimpDbServer?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpDbServer_DataRequest_By_String_InputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_String" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_String_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_StringResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_DataTable_InputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_DataTable" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_DataTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_DataTableResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_DataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_DataSet" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_DataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_DataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_SimpDEs_InputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_SimpDEs" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_SimpDEs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_SimpDEsResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_SimpDEs_GZip_InputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_SimpDEs_GZip" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_SimpDEs_GZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_SimpDEs_GZipResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_SimpDEs_All_GZip_InputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_SimpDEs_All_GZip" />
  </wsdl:message>
  <wsdl:message name="ISimpDbServer_DataRequest_By_SimpDEs_All_GZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataRequest_By_SimpDEs_All_GZipResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpDbServer">
    <wsdl:operation name="DataRequest_By_String">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_String" message="tns:ISimpDbServer_DataRequest_By_String_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_StringResponse" message="tns:ISimpDbServer_DataRequest_By_String_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_DataTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_DataTable" message="tns:ISimpDbServer_DataRequest_By_DataTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_DataTableResponse" message="tns:ISimpDbServer_DataRequest_By_DataTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_DataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_DataSet" message="tns:ISimpDbServer_DataRequest_By_DataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_DataSetResponse" message="tns:ISimpDbServer_DataRequest_By_DataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_SimpDEs">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs" message="tns:ISimpDbServer_DataRequest_By_SimpDEs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEsResponse" message="tns:ISimpDbServer_DataRequest_By_SimpDEs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_SimpDEs_GZip">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs_GZip" message="tns:ISimpDbServer_DataRequest_By_SimpDEs_GZip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs_GZipResponse" message="tns:ISimpDbServer_DataRequest_By_SimpDEs_GZip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_SimpDEs_All_GZip">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs_All_GZip" message="tns:ISimpDbServer_DataRequest_By_SimpDEs_All_GZip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs_All_GZipResponse" message="tns:ISimpDbServer_DataRequest_By_SimpDEs_All_GZip_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISimpDbServer" type="tns:ISimpDbServer">
    <wsp:PolicyReference URI="#NetTcpBinding_ISimpDbServer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DataRequest_By_String">
      <soap12:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_String" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_DataTable">
      <soap12:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_DataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_DataSet">
      <soap12:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_DataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_SimpDEs">
      <soap12:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_SimpDEs_GZip">
      <soap12:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs_GZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_SimpDEs_All_GZip">
      <soap12:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs_All_GZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISimpDbServer" type="tns:ISimpDbServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataRequest_By_String">
      <soap:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_String" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_DataTable">
      <soap:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_DataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_DataSet">
      <soap:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_DataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_SimpDEs">
      <soap:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_SimpDEs_GZip">
      <soap:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs_GZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRequest_By_SimpDEs_All_GZip">
      <soap:operation soapAction="http://tempuri.org/ISimpDbServer/DataRequest_By_SimpDEs_All_GZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpDbServer">
    <wsdl:port name="NetTcpBinding_ISimpDbServer" binding="tns:NetTcpBinding_ISimpDbServer">
      <soap12:address location="net.tcp://localhost:44320/Binding/SimpDbServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:44320/Binding/SimpDbServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISimpDbServer" binding="tns:BasicHttpBinding_ISimpDbServer">
      <soap:address location="http://localhost:13124/SimpDbServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>