ZhuoHuaAPP/Web References/localhost/SimpDbServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataRequest_By_String">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_methodRequests" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_StringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataRequest_By_StringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_DataTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_methodRequests" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_DataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataRequest_By_DataTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_DataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_methodRequests" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_DataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataRequest_By_DataSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_SimpDEs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_methodRequests" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_SimpDEsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataRequest_By_SimpDEsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_SimpDEs_GZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_methodRequests" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_SimpDEs_GZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataRequest_By_SimpDEs_GZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_SimpDEs_All_GZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_methodBts" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRequest_By_SimpDEs_All_GZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataRequest_By_SimpDEs_All_GZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>